/*clearfix hack*/

.group:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both;
}

.group {
    *zoom: 1;
    /* 3 */
}

html {
    font-size: 100%;
    line-height: 1;
    /* disable auto scaling on smartphones*/
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*--------------------------------------*/
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'helvetica', sans-serif;
    background-color: #C4D2E0;
}

section {
    padding: 2% 0;
}

.wrapper {
    padding: 0 .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

hr {
    max-width: 40%;
}

h2 {
    color: #2272A2;
    text-transform: uppercase;
    ;
    font-weight: bold;
    font-size: 2.4em;
}

#empty-div {
    background: #181E2C;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 1em;
}

#space-text h3 {
    margin-left: 20%;
    text-shadow: 1px 1px 3px white;
}

#big-plans {
    background: url("img/space.jpg") #181E2C no-repeat top center;
    padding: 22% 0 10%;
    max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

#mr-peepers {
    background: url("img/mrpeepers.jpg") #6B6E7E no-repeat center center;
    padding: 18% 0 20%;
    max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}


/*header-----------------------------------*/

#container-header {
    background: url(img/joe.jpg) #6B6E7E no-repeat center center;
    max-width: 100%;
    padding: 8% 0 25% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#masthead h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    font-family: 'Chicle', 'Kavoon', cursive;
    text-align: center;
    text-shadow: 5px 5px 0 black, 10px 10px 0 black, 15px 15px 0 black, 20px 20px 0 black;
    letter-spacing: 4px;
    padding-bottom: 20px;
}


/*----info/behavior/diet----------------*/

#info,
#behavior,
#diet {
    background: #181E2C;
    text-align: center;
}

#info p, #behavior p, #diet p {
    line-height: 1.7;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 1% 0 4%;
    color: white;
    font-size: 1em;
}


/*#info p::first-letter {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid black;
    padding: 0px 2px;
    box-shadow: 0px 1px 1px 1px white;
    float: left;
    line-height: 1;
    margin-top: .15em;
}*/


/*history-------------------------------------*/

#history, #etymology {
    color: #181E2C;
    line-height: 1.7;
    max-width: 80%;
    display: block;
    padding: 2% 0 4%;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 2;
    height: auto;
    max-width: 80%;
}

#history:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -2;
}


/*---gallery---------*/

#gallery {
    text-align: center;
}

#gallery img {
    /*border: solid 10px #181E2C;*/
    margin: 1% 1% 1% 0;
    border-radius: 30px;
}

.grow img {
    height: 300px;
    width: 300px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img:hover {
    width: 320px;
    height: 320px;
    opacity: .9;
    cursor: pointer;
}

/*------footer-----*/

#footer {
  background: white;
  width: 100%;
  height:12em;
  text-align: center;
  color:#181E2C;
}

#footer a {
  color: #181E2C;
  font-size: 2.6em;
  font-weight: bold;
  text-decoration: none;
}

#footer a:hover {
  font-size: 4.6em;
  color:#2272A2;
  cursor: pointer;
}

/*nav menu-----------------*/

#nav {
    padding: .65em 0;
    background: white;
}

#nav h3 {
    float: left;
    text-transform: capitalize;
    margin: .3em 0 0 .69em;
    font-weight: bold;
    color: black;
    font-family: 'Chicle', cursive;
    text-shadow: 2px 2px 0 #C4D2E0;
}

#nav ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: .65em 0 .39em;
}

#nav li {
    border-top: 1px solid #eee;
}

#nav a {
    display: block;
    font-size: 1.063em;
    color: black;
    text-decoration: none;
    padding: .975em;
    clear: both;
    text-transform: uppercase;
}

#nav a:hover {
    background: #181E2C;
    color: #2272A2;
    transition: background .4s;
}


/*hide nav to toggle-----*/

#nav nav {
    height: 0;
    overflow: hidden;
}


/*advanced checkbox hack--------------*/

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}

#nav input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;
}

#nav label {
    display: block;
    margin-left: -30px;
    margin-top: 8px;
    padding-top: 4px;
    background: url("img/menu4.png") no-repeat right center;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav input[type=checkbox]:checked~nav {
    height: auto;
    overflow: hidden;
}

@media screen and (min-width: 34em) and (max-width:50em) {
    #masthead h1 {
        font-size: 7.5em;
    }
    #info p {
        max-width: 70%;
    }

}

@media screen and (min-width: 50em) {
    /*nav bar-----------*/
    #nav {
        padding: 0 .25em;
        text-align: right;
    }
    #nav h3 {
        margin: .6em 1.3em 0 .5em;
    }
    #nav label {
        display: none;
    }
    #nav nav {
        height: auto;
        overflow: visible;
    }
    #nav ul {
        border: 0;
        margin: 0;
    }
    #nav li {
        display: inline;
        border: 0;
    }
    #nav a {
        display: inline-block;
    }
    /*header------------------*/
    #masthead h1 {
        font-size: 12.5em;
    }
    #info p,
    #history,
    #behavior p,
    #etymology,
    #diet p {
        max-width: 50%;
    }
}
